@using CityPlace.Domain.Entities
@using CityPlace.Domain.Enums
@using CityPlace.Web.Classes.Ext
@model IList<CityPlace.Domain.Entities.Product>

@{
    Place place = ViewBag.place;
    ViewBag.Title = "Список товаров и услуг в заведении "+place.Title;
    Layout = "../Shared/AccountLayout.cshtml";
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="icon"><i class="icon20 i-cabinet"></i></div>
            <h4>Товары и услуги</h4>
            <a href="#" class="minimize"></a>
        </div>
        <!-- End .panel-heading -->

        <div class="panel-body">
            <p>
                <a href="/places/products/add/@place.Id" class="btn btn-primary tip" title="Создать новый товар или пункт меню или услугу">Добавить элемент</a>
            </p>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>ИД</th>
                        <th>Название</th>
                        <th>Артикул</th>
                        <th>Тип</th>
                        <th>Категория</th>
                        <th>Цена</th>
                        <th>Создано</th>
                        <th>Отредактировано</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="9">Нет товаров для этого заведения</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var product in Model)
                        {
                            <tr>
                                <td>
                                    @product.Id
                                </td>
                                <td>
                                    @product.Title
                                </td>
                                <td>
                                    @product.Article
                                </td>
                                <td>
                                    @(((ProductType)product.Type).GetEnumMemberName())
                                </td>
                                <td>
                                    @product.Category
                                </td>
                                <td>
                                    @product.Price
                                </td>
                                <td>
                                    <span class="tip" title="@product.DateCreated.FormatDateTime()">@product.DateCreated.TimeAgo()</span>
                                </td>
                                <td>
                                    <span class="tip" title="@product.DateModified.FormatDateTime()">@product.DateModified.TimeAgo()</span>
                                </td>
                                <td style="width: 90px">
                                    <a href="/places/products/@product.Id/edit" class="btn btn-xs btn-warning tip" title="Редактировать товар или услугу"><i class="i-enter"></i></a>
                                    <a href="/places/products/@product.Id/delete" class="btn btn-xs btn-danger tip" onclick="return confirm ('Вы действительно хотите удалить указанный товар или услугу?')" title="Удалить товар"><i class="i-remove"></i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <!-- End .panel-body -->
    </div>
</div>